body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #003b58;
    /*background-color: #e2dede;*/
    background-color: #E4E2DB;
    margin: 0px;
    font-size: 20px;
}

html {
    width: 100%;
    height: 100%;
}

h4 {
    padding-top: 50px;
    margin: 0 0 5px;
    font-family: 'Bitter', serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1.0;
    color: #FEFDFD;
    text-shadow: 3px 3px #D95B5B;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}


a {
    color: #FEFDFD;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-shadow: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #D95B5B;
}

img { 
   border:1px solid #021a40;
}

.wrapper
{
    padding: none;
    margin-top: -16px;
    max-width: 70%;
    margin: auto;
}

nav
{
    height: 5em;
    background-color: #003b58;
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    float: top;
}

footer {
    height: 5em;
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    overflow: auto;
}

li
{
    text-decoration: none;
    list-style: none;
    display: block;
}

nav li
{
    margin-top: 10px;
}

nav h3 
{
    margin: 0 0 0px;
    font-family: 'Lato', serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1.0;
    color: #FEFDFD;
}

.menu-button-right
{
    float: right;
    color: #fff;
    width: 75px;
    text-align: left;
    height: 3em;
    vertical-align: middle;
    margin-right: 20px;
    font-weight: bold;
}
.menu-button-left
{
    float: left;
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 0px;
    color: #607476;
    font-weight: 600;
    height: 50px;
}


.intro{
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.bx-wrapper, .bx-viewport {
}

.intro h2 {
    padding-top: 50px;
    margin: 0 0 5px;
    font-family: 'Bitter', serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1.0;
    color: #FEFDFD;
    text-shadow: 3px 3px #D95B5B;
}

.intro h3 {
    font-style: italic;
}

.intro-body {
    margin-top: 4em !important;
}
.intro-text {
    font-size: 18px;
    color: #003b58;
    font-style: italic;
}

.about
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.about-body {
    margin-top: 4em !important;
}
.about p {
    font-size: 18px;
    color: #003b58;
    font-style: normal;
    
}

.about a {
    color: #D95B5B
}

.about a:hover,
a:focus {
    text-decoration: none;
    color: #AD4848;
}

.about img {
    margin-right: 40px;
    float: left;
    display: block;
    width: 300px;
    height: 300px;
}

.profile {
    display: block;
    margin: auto;
}

.profile-text {
    float: left;
    width: 65%;
    display: block;
}


.news a {
    color: #003b58
}

.news a:hover,
a:focus {
    text-decoration: none;
    color: #AD4848;
}

.banner 
{ 
    position: relative; 
    overflow: auto; 
    width: 100%;
    margin-left: 0;
}

.banner li 
{ 
    width: 100%;
    float: left;
    list-style: none; 
}

.banner ul li
{
    margin-left: 0;
    width: 95%;
    align-content: center;
}

.banner ul li img
{
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    vertical-align: middle;
}

.work
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.work p {
    font-size: 18px;
    color: #003b58;
    font-style: normal;
    
}

.contact
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.contact p {
    font-size: 18px;
    color: #003b58;
    font-style: normal;
    
}


.text
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    text-align: justify;
}

.map
{
    display: block;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.videos iframe
{
    margin-top: 20px;
    margin-left: 35%;
    margin-right: auto;
}

.ui-panel-wrapper {
    background-color: #47D1D1;
	vertical-align: middle;
	text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content {
    height: 100%;
	width: 100%;
	padding-top: 50px;
	text-align: center;
    position: absolute;
	color: #fff;
	background-color: #47D1D1;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
	border: 1px solid #ff831c;
    color: #ffffff;
    background-color: #ff831c;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #ff831c;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 0.8;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #ff831c;
    outline: 0;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 1.0;
}

.btn-add {
	border: 1px solid #ff831c;
    outline: 0;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 0.9;
}

.btn-add:hover,
.btn-add:focus {
    border: 1px solid #ff831c;
    outline: 0;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 1.0;
}

.btn-info {
	border: 1px solid #a60000;
    outline: 0;
    color: #ffffff;
    background-color: #a60000;
	opacity: 0.5;
}

.btn-info:hover,
.btn-info:focus {
    border: 1px solid #a60000;
    outline: 0;
    color: #ffffff;
    background-color: #a60000;
	opacity: 1.0;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.icon-link {
  width: 60px;
  height: 60px;
  background-color: #666;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}
.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.tumblr {
  background-color: #32506d;
}
.icon-link.fill.tumblr:hover {
  background-color: #fff;
}
.icon-link.fill.tumblr:hover .fa-tumblr {
  color: #32506d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.linkedin {
  background-color: #007bb6;
}
.icon-link.fill.linkedin:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.google-plus {
  background-color: #dd4b39;
}
.icon-link.fill.google-plus:hover {
  background-color: #fff;
}
.icon-link.fill.google-plus:hover .fa-google-plus {
  color: #dd4b39;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.reddit {
  background-color: #8bbbe3;
}
.icon-link.fill.reddit:hover {
  background-color: #fff;
}
.icon-link.fill.reddit:hover .fa-reddit {
  color: #8bbbe3;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.youtube {
  background-color: #df1c31;
}
.icon-link.fill.youtube:hover {
  background-color: #fff;
}
.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.pinterest {
  background-color: #b81621;
}
.icon-link.fill.pinterest:hover {
  background-color: #fff;
}
.icon-link.fill.pinterest:hover .fa-pinterest {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.github {
  background-color: #444;
}
.icon-link.fill.github:hover {
  background-color: #fff;
}
.icon-link.fill.github:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.envelope {
  background-color: #333;
}
.icon-link.fill.envelope:hover {
  background-color: #fff;
}
.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.soundcloud {
  background-color: #f50;
}
.icon-link.fill.soundcloud:hover {
  background-color: #fff;
}
.icon-link.fill.soundcloud:hover .fa-soundcloud {
  color: #f50;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.brand {
  background-color: #fff;
}
.icon-link.brand .fa {
  color: #006FC2;
}
.icon-link.round {
  border-radius: 50%;
}
.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  height: 56px;
  line-height: 56px;
  width: 56px;
  background-color: #fff;
}
.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.tumblr {
  border: 2px solid #32506d;
}
.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover.google-plus {
  border: 2px solid #dd4b39;
}
.icon-link:hover.reddit {
  border: 2px solid #8bbbe3;
}
.icon-link:hover.youtube {
  border: 2px solid #df1c31;
}
.icon-link:hover.pinterest {
  border: 2px solid #b81621;
}
.icon-link:hover.github {
  border: 2px solid #444;
}
.icon-link:hover.envelope {
  border: 2px solid #333;
}
.icon-link:hover.soundcloud {
  border: 2px solid #f50;
}
.icon-link:hover .fa {
  line-height: 56px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-tumblr {
  color: #32506d;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-google-plus {
  color: #dd4b39;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-reddit {
  color: #8bbbe3;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-youtube {
  color: #df1c31;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-pinterest {
  color: #b81621;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-github {
  color: #444;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-envelope {
  color: #333;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-soundcloud {
  color: #f50;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link .fa {
  color: #fff;
  line-height: 60px;
  font-size: 36px;
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}
