body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #e2dede;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}

h4 {
    padding-top: 50px;
    margin: 0 0 5px;
    font-family: 'Bitter', serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1.0;
    color: #FEFDFD;
    text-shadow: 3px 3px #D95B5B;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}


a {
    color: #FEFDFD;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-shadow: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #D95B5B;
}

.wrapper
{
    padding: none;
    margin-top: -16px;
    max-width: 70%;
    margin: auto;
}

nav
{
    height: 5em;
    background-color: #003b58;
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    overflow: auto;
}

footer {
    height: 5em;
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    overflow: auto;
}

li
{
    text-decoration: none;
    list-style: none;
    display: block;
}

nav li
{
    margin-top: 10px;
}

nav h3 
{
    margin: 0 0 0px;
    font-family: 'Lato', serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1.0;
    color: #FEFDFD;
}

.menu-button-right
{
    float: right;
    color: #fff;
    width: 75px;
    text-align: left;
    height: 3em;
    vertical-align: middle;
    margin-right: 20px;
    font-weight: bold;
}
.menu-button-left
{
    float: left;
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 0px;
    color: #607476;
    font-weight: 600;
    height: 50px;
}


.intro{
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.bx-wrapper, .bx-viewport {
}

.intro h2 {
    padding-top: 50px;
    margin: 0 0 5px;
    font-family: 'Bitter', serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1.0;
    color: #FEFDFD;
    text-shadow: 3px 3px #D95B5B;
}

.intro h3 {
    font-style: italic;
}

.intro-body {
    margin-top: 4em !important;
}
.intro-text {
    font-size: 18px;
    color: #003b58;
    font-style: italic;
}

.about
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.about-body {
    margin-top: 4em !important;
}
.about p {
    font-size: 18px;
    color: #003b58;
    font-style: normal;
    
}

.about img {
    margin-right: 40px;
    float: left;
    display: block;
    width: 300px;
    height: 300px;
}

.profile {
    display: block;
    margin: auto;
}

.profile-text {
    float: left;
    width: 65%;
    display: block;
}

.banner 
{ 
    position: relative; 
    overflow: auto; 
    width: 100%;
    margin-left: 0;
}

.banner li 
{ 
    width: 100%;
    float: left;
    list-style: none; 
}

.banner ul li
{
    margin-left: 0;
    width: 95%;
    align-content: center;
}

.banner ul li img
{
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    vertical-align: middle;
}

.work
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.work p {
    font-size: 18px;
    color: #003b58;
    font-style: normal;
    
}

.contact
{
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.contact p {
    font-size: 18px;
    color: #003b58;
    font-style: normal;
    
}


.text
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    text-align: justify;
}

.map
{
    display: block;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.videos iframe
{
    margin-top: 20px;
    margin-left: 35%;
    margin-right: auto;
}

.ui-panel-wrapper {
    background-color: #47D1D1;
	vertical-align: middle;
	text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content {
    height: 100%;
	width: 100%;
	padding-top: 50px;
	text-align: center;
    position: absolute;
	color: #fff;
	background-color: #47D1D1;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
	border: 1px solid #ff831c;
    color: #ffffff;
    background-color: #ff831c;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #ff831c;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 0.8;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #ff831c;
    outline: 0;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 1.0;
}

.btn-add {
	border: 1px solid #ff831c;
    outline: 0;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 0.9;
}

.btn-add:hover,
.btn-add:focus {
    border: 1px solid #ff831c;
    outline: 0;
    color: #ffffff;
    background-color: #ff831c;
	opacity: 1.0;
}

.btn-info {
	border: 1px solid #a60000;
    outline: 0;
    color: #ffffff;
    background-color: #a60000;
	opacity: 0.5;
}

.btn-info:hover,
.btn-info:focus {
    border: 1px solid #a60000;
    outline: 0;
    color: #ffffff;
    background-color: #a60000;
	opacity: 1.0;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}
